
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form> 



{% comment %} {% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Create Blog Post</h1>
    <form method="post">
        {% csrf_token %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <div class="form-group">
            <label for="title">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            {{ form.body }}
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="date_published">Date Published</label>
            {{ form.date_published }}
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %} {% endcomment %}

